body {
	background-color: #515151 !important;
	padding: 1.25em;
	color: #d5d5d5;
}

table a {
	color: #e0e0e0;
}
table a:hover {
	color: #e0e0e0;
}

.credits {
    font-size: 10px;
	text-align: center;
}

.disblock {
	display: block;
}

.ui.segment {
	color: rgba(0, 0, 0, 0.871);
}

th {
	padding: 0.5em 5em;
}
