body {
	background-color: #515151 !important;
}
a {
	color: #e0e0e0 !important;
}
img {
	object-fit: contain;
	max-width: 100%;
	height: auto;
}

p {
    color: #afafaf;
}

.credits {
    font-size: 10px;
	color: #e0e0e0;
	text-align: center;
}

.disblock {
	display: block;
}

th {
	padding: 0.5em 5em;
}
